<div class="recuperacion-container">
  <div class="recuperacion-card">
    <h2>Recuperación de Contraseña</h2>
    <p class="texto">
      Ingresa tu correo electrónico y te enviaremos un enlace para restablecer tu contraseña.
    </p>

    <form (ngSubmit)="enviarCorreo()">
      <div class="form-group">
        <label for="email">Correo electrónico</label>
        <input type="email" [(ngModel)]="email" name="email" placeholder="ejemplo@correo.com" required />
      </div>

      <button type="submit" class="btn">Recuperar Contraseña</button>
    </form>

    <div class="acciones">
      <a routerLink="/login">← Regresar al inicio de sesión</a>
    </div>
  </div>
</div>
